<form name="form1" action="controllerUpdate" method="post">
    Id    : <input type="text"   name="id"        id="id"       value="{{id}}"><br>
    Nome  : <input type="text"   name="name"      id="name"     value="{{name}}"><br>
    Idade : <input type="text"   name="ida"       id="ida"      value="{{ida}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Alterar"><br>
</form>
